body,
html {
  height: 100%;
}
body {
  background-color: #a7b8b8;
  padding: 0;
  margin: 0;
  position: relative;
  opacity: 1;
}
ul {
  padding: 0;
  margin: 0;
}
.buttons {
  height: 50px;
}
#app {
  position: relative;
  min-height: 100%;
  text-align: center;
}
.component {
  top: 50%;
  left: 50%;
  text-align: center;
  position: absolute;
  transform: translate(-50%, -50%);
}
@font-face {
  font-family: Infinity;
  src: url("./../../fonts/Infinity.ttf");
}
* {
  font-family: Infinity !important;
}
@media screen {
  div#preloader {
    position: absolute;
    left: -9999px;
    top: -9999px;
  }
  div#preloader img {
    display: block;
  }
}
@media print {
  div#preloader,
  div#preloader img {
    visibility: hidden;
    display: none;
  }
}
.white {
  color: #fff;
}
.select {
  font-size: 18px;
}
.hero {
  text-align: center;
}
.settings {
  display: block;
  margin: auto !important;
}
.component .component {
  top: auto;
  position: static;
  transform: none;
  width: 80%;
  padding: 0 0 50px;
  margin: auto;
}
.control-group {
  height: 30px;
  margin: 10px;
}
.control-alias {
  font-size: 20px;
  float: left;
}
.control {
  float: right;
}
.accept {
  margin-left: 25px;
}
@media screen and (max-width: 600px) {
  .control-group {
    font-size: 10px;
    height: 20px;
  }
  .control-alias {
    font-size: 14px;
  }
  .ghost-button {
    margin: 5px;
    padding: 4px 15px;
    font-size: 14px;
  }
  .moveButton {
    margin-left: 0 !important;
  }
}
.ghost {
  border: 1px solid #fff;
  letter-spacing: 1px;
  color: #fff;
  transition: all 0.4s linear;
  padding: 5px;
  background-color: rgba(200,200,200,0.1);
  border-radius: 10px 0;
  outline: 0 !important;
}
.ghost-black {
  border: none !important;
  color: #000 !important;
}
.ghost-button {
  cursor: pointer;
  padding: 7px 25px;
  font-weight: 900;
  font-size: 18px;
  height: auto;
  border-radius: 0 0;
  background-color: rgba(200,200,200,0.3);
}
.ghost:hover {
  background-color: rgba(170,170,170,0.4);
}
.octocat {
  height: 80px;
  position: fixed;
  bottom: -30px;
  right: 5%;
  transition: all 0.3s ease;
  cursor: pointer;
}
.octocat:hover {
  bottom: -10px;
}
.player {
  transform: none;
  left: auto;
  margin: auto;
  top: auto;
  position: static;
  display: inline;
}
.file {
  display: none !important;
}
video {
  border-radius: 7px;
  width: 60%;
  height: auto;
}
body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  opacity: 1;
  transition: opacity 0.7s linear;
}
.loading-background {
  background-color: #2a2826;
}
.transparent::before {
  background-image: url("../../img/transparent.png");
}
.cinema::before {
  background-image: url("../../img/cinema.png");
}
.magic::before {
  background-image: url("../../img/magic.jpg");
  -webkit-filter: grayscale(80%);
  -o-filter: grayscale(80%);
  filter: grayscale(80%);
}
.loading::before {
  background-image: url("../../img/loading.gif");
  background-size: 25%;
  background-position: center;
  background-repeat: no-repeat;
}
.body-color {
  background-color: #bcc;
}
.cloud-bg {
  background-color: #ecf0f1;
}
.half-visible::before {
  opacity: 0.9;
}
.hardly-visible::before {
  opacity: 0.3;
}
.invisible::before {
  opacity: 0;
}
.no-overflow {
  overflow: hidden;
}
.moveButton {
  margin-left: 25px;
}
.transition {
  transition: all 2s ease-out;
}
