.half-visible::before
    opacity: 0.9

.hardly-visible::before
    opacity: 0.3

.invisible::before
    opacity: 0

.no-overflow
    overflow: hidden

.moveButton
    margin-left: 25px

.transition
    transition: all 2s ease-out
