.ghost
    border: 1px solid #fff
    letter-spacing: 1px
    color: #fff
    transition: all 0.4s linear
    padding: 5px
    background-color: rgba(200, 200, 200, 0.1)
    border-radius: 10px 0
    outline: 0 !important

.ghost-black
    border: none !important
    color: black !important

.ghost-button
    cursor: pointer
    padding: 7px 25px
    font-weight: 900
    font-size: 18px
    height: auto
    border-radius: 0 0
    background-color: rgba(200, 200, 200, 0.3)
    
.ghost:hover
    background-color: rgba(170, 170, 170, 0.4)
