.settings
    display: block
    margin: auto !important

.component .component
    top: auto
    position: static
    transform: none
    width: 80%
    padding: 0 0 50px
    margin: auto

.control-group
    height 30px
    margin 10px

.control-alias
    font-size: 20px
    float: left

.control
    float: right

.accept
    margin-left: 25px

@media screen and (max-width:600px)
    .control-group
        font-size: 10px
        height: 20px
    .control-alias
        font-size: 14px
    .ghost-button
        margin 5px
        padding 4px 15px
        font-size: 14px
    .moveButton
        margin-left 0 !important
